<footer>
© {{_('Viktor Zharina')}} - <script type="text/javascript">var t = Date.now(); var a = new Date(t); document.write(a.getUTCFullYear());
</script>
<script src="/static/js/lightgallery.min.js"></script>
<script src="/static/js/elasticlunr.min.js"></script>
<script src="/static/js/lunr.stemmer.support.js"></script>
<script src="/static/js/lunr.multi.js"></script>
<script src="/static/js/lunr.ru.js"></script>

<script src="/static/index/index.json"></script>
<script src="/static/index/data.json"></script>
<script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'));
</script>
<script src="/static/js/search.js"></script>
</footer>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P7LLYLY3X7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-P7LLYLY3X7');
</script>
