version: '3.7'

services:
  blog:
    build:
      context: .
      args:
        grow_version: 0.8.17
    container_name: blog
    expose: 
      - 8080
    ports:
      - 8080:8080
    volumes:
      - ./:/src
      - node_modules/
    restart: 'no'
    command: sh -c "grow run src/ --host 0.0.0.0"
    labels:
      org.label-schema.group: "blog"