{% extends "/views/base.html" %}

{% block main %}
{% set last_post = g.docs('posts', locale=doc.locale)|last %}
<div class="meta">
    <h2>{{_(last_post.title)}}</h2>
    <div class="attribution attribution-container">
        <div class="text-centered">
            {{_('Posted')}}: {{last_post.dates.published}}
        </div>
    </div>
</div>
  {{last_post.html|safe}}

{% set doc_prev = doc.prev(posts) %}

<div class="text-centered">
    <!-- Put this script tag to the place, where the Share button will be -->
    <script type="text/javascript"><!--
    document.write(VK.Share.button(false,{type: "link_noicon", text: "Поделиться"}));
    --></script>
</div>

{% include "/partials/recent.html" %}
{% endblock %}
