{% extends "/views/base.html" %}

{% block main %}
<div class="meta">
    <h1><a href="{{doc.url.path}}">{{_(doc.title)}}</a></h1>
    <div class="attribution attribution-container">
        <div class="text-centered">
            {{_('Posted')}}: {{doc.dates.published}}
        </div>
    </div>
</div>

{{doc.html|safe}}

{% set posts = g.docs('posts', locale=doc.locale) %}
{% set doc_prev = doc.prev(posts) %}

<div class="page-nav">
{% if doc_prev %}
    <a href="{{doc_prev.url.path}}" title="{{_(doc_prev.title)}}">{{_('Prev')}}</a>
{% endif %}

{% set doc_next = doc.next(posts) %}
{% if doc_next %}
    <a href="{{doc_next.url.path}}" title="{{_(doc_next.title)}}">{{_('Next')}}</a>
{% endif %}
</div>

<div class="text-centered">
    <!-- Put this script tag to the place, where the Share button will be -->
    <script type="text/javascript"><!--
    document.write(VK.Share.button(false,{type: "link_noicon", text: "Поделиться"}));
    --></script>
</div>


{% include "/partials/recent.html" %}
{% endblock %}
