@font-face {
  font-family: 'FontAwesome';
  src: url('/static/fonts/typewritercyrnormal.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'FontAwesome', tahoma, arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.9rem;
  background: #e9eaed;
  margin: 0px;
  padding: 0px;
}

p {
  word-wrap:break-word;
}

ul {
  clear: both;
}

a {
  text-decoration: underline;
}

iframe {
  float:left;
  clear: both;
  margin: 10px;
}

main,
footer,
header {
  margin: 0 auto;
  max-width: 1600px;
}

header h1 {
  margin-top: 0;
  padding: 0;
}

header h1 i {
  margin: 0 5px 0 10px;
}

main {
  height: 95%;
  @media screen and (max-width: 700px) {
    display: block;
  }
}

nav,
section {
  flex: 1;
  -webkit-box-flex: 1;
}

section {
  background: #fff;
  padding: 1rem 2rem;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  text-align: center;
  clear: both;
  margin: 0px;
  padding: 0px;
  font-weight: 800;
}

h1 a,
h2 a
h3 a,
h4 a {
  clear: both;
  text-decoration: none;
  color: inherit;
}

h2 a:hover,
h3 a:hover,
h4 a:hover {
  text-decoration: underline;
}

h2,
h3,
h4 {
  text-transform: uppercase;
  text-align: center;
  clear: both;
  font-weight: 800;
}

nav {
  background: #fff;
  @media screen and (max-width: 700px) {
    max-width: 100%;
    margin: 0 0 20px 0;
  }
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li.active {
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

nav ul li a {
  color: inherit;
  display: block;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: all 300ms;
}

nav ul li a i {
  -webkit-transition: all 300ms;
  display: inline-block;
  float: left;
  font-size: 21px;
  height: 20px;
  margin: 1px 8px 0 0;
  opacity: .25;
  width: 20px;
}

nav ul li.active a i {
  color: #245dc1;
  opacity: 1;
}

footer {
  background-color: #fff;
  text-align: center;
}

footer i {
  font-size: 1rem;
  margin: 0 5px;
  vertical-align: middle;
  -webkit-transition: all 300ms;
}

.banner .tagline {
  background: rgba(0, 0, 0, .75);
  color: #fff;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 300;
  padding: 10px 20px;
  position: absolute;
}

main img {
  max-width: 100%;
  margin: 0 0 20px 0;
}

section img {
  float: left;
  max-width: 100%;
  margin: 0 20px 20px 0;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  clear: both;
}

.page-nav__right {
  float: right;
  clear: both;
}

.posts {
  display: flex;
  margin-bottom: 4rem;
  @media screen and (max-width: 700px) {
    display: block;
  }
}

.posts .post {
  width: 33%;
  padding-right: 2rem;
  box-sizing: border-box;
  height: 100px;
  flex: 1;
}

.posts .snippet {
  font-size: 12px;
  color: #666;
}

.posts .post h4 {
  font-weight: 300;
  margin: 0 0 15px 0;
  padding: 0;
}

.posts .post h4 a {
  text-decoration: underline;
}

.posts .post h4 a:hover {
  text-decoration: none;
}

.meta .attribution {
  color: #666;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.attribution-container {
  width: 100%;
  height: 1.5rem;
}

.meta h1 {
  margin-bottom: 5px;
}

.meta {
  border-bottom: 1px solid #dedede;
  margin-bottom: 1rem;
}

.meta-alt {
  border-top: 1px solid #dedede;
}

.meta-alt span {
  font-size: 12px;
  color: #666;
  text-transform: uppercase;
  margin-right: 10px;
}

.meta-alt > div {
  margin-bottom: 7px;
}

.meta-alt a {
  color: inherit;
  text-decoration: underline;
}

.meta-alt a:hover {
  text-decoration: none;
}

.lang {
    background: #fff;
    font-size: 75%;
}

.post-picture {
  max-width: 20rem;
}


@media (max-width: 425px) {
   .about-photo {
       width: 400px;
   }

   .post-picture {
       max-width: 100%;
  }

}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.timeline
{
  margin:0;
}

.timeline ul
{
  list-style:none;
  position:relative;
}

.timeline ul:before
{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:0;
  height:100%;
  border:2px dashed #000;
}

.timeline ul li
{
  position:relative;
  width:100%;
  margin:120px 20px;
}

.timeline ul li:first-child
{
  margin:20px;
}

.timeline ul li>span
{
  content:'';
  position:absolute;
  top:0;
  left:-60px;
  width:0;
  height:100%;
  border:3px solid #000;
}

.timeline ul li>span:before,.timeline ul li>span:after
{
  position:absolute;
  content:'';
  width:45px;
  height:45px;
  border:3px solid #000;
  left:-25px;
  background:#fff;
}

.timeline ul li>span:before
{
  top:-3px;
}

.timeline ul li .year span
{
  font-size:15px;
  position:absolute;
  color:#000;
  left:-70px;
  line-height:25px;
}

.timeline ul li .year span:first-child
{
  top:0;
}

.timeline .title
{
  font-size:120%;
}

.timeline ul li>span:after,.timeline ul li .year span:last-child
{
  top:100%;
}

.lightgallery {
  float: left;
  display: flex;
  flex-flow: row wrap;
}