.timeline
{
  margin:0;
}

.timeline ul
{
  list-style:none;
  position:relative;
}

.timeline ul:before
{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:0;
  height:100%;
  border:2px dashed #000;
}

.timeline ul li
{
  position:relative;
  width:100%;
  margin:120px 20px;
}

.timeline ul li:first-child
{
  margin:20px;
}

.timeline ul li>span
{
  content:'';
  position:absolute;
  top:0;
  left:-60px;
  width:0;
  height:100%;
  border:3px solid #000;
}

.timeline ul li>span:before,.timeline ul li>span:after
{
  position:absolute;
  content:'';
  width:45px;
  height:45px;
  border:3px solid #000;
  left:-25px;
  background:#fff;
}

.timeline ul li>span:before
{
  top:-3px;
}

.timeline ul li .year span
{
  font-size:15px;
  position:absolute;
  color:#000;
  left:-70px;
  line-height:25px;
}

.timeline ul li .year span:first-child
{
  top:0;
}

.timeline .title
{
  font-size:120%;
}

.timeline ul li>span:after,.timeline ul li .year span:last-child
{
  top:100%;
}
